<header class="layout-topbar">
  <div class="layout-topbar-logo">
    <button
      pButton
      type="button"
      icon="pi pi-bars"
      class="p-button-text p-button-rounded p-button-plain"
      (click)="toggleSidebar()"
      [style]="{ 'margin-right': '1rem' }">
    </button>
    <img
      src="assets/logo-round.png"
      alt="Image"
      class="logo-image"/>
    <span class="logo-text">Cuong Phung</span>
  </div>

  <div class="layout-topbar-menu">
    <!-- Search Bar -->
    <div class="search-container">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Search products..."
                class="search-input"
                [(ngModel)]="searchQuery" />
            </span>
    </div>

    <!-- User Menu -->
    <div class="user-menu">
      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-shopping-cart"
        class="p-button-text p-button-rounded"
        pTooltip="Cart"
        (click)="this.visibleMyCart = true"
      >
      </button>

      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-shopping-bag"
        class="p-button-text p-button-rounded"
        pTooltip="Order"
      >
      </button>

      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-bell"
        class="p-button-text p-button-rounded"
        pTooltip="Notification"
      >
      </button>

      <p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body"></p-menu>
      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-user"
        class="p-button-text p-button-rounded"
        (click)="toggleUserMenu($event)" pTooltip="User info">
      </button>

      <p-button label="Sign in"
                icon="pi pi-sign-in"
                [rounded]="true"
                severity="success"
                (click)="handleLogin()"/>
    </div>
  </div>
</header>
<p-dialog header="My cart" [modal]="true" [(visible)]="visibleMyCart" [style]="{ width: '40rem', height: '41rem' }">
  <view-order (emitCloseAction)="closeCreateOrderDialog()"></view-order>
</p-dialog>
