<header class="layout-topbar">
  <div class="layout-topbar-logo">
    <button
      pButton
      type="button"
      icon="pi pi-bars"
      class="p-button-text p-button-rounded p-button-plain"
      (click)="toggleSidebar()"
      [style]="{ 'margin-right': '1rem' }">
    </button>
    <img
      src="assets/logo-round.png"
      alt="Image"
      class="logo-image"/>
    <span class="logo-text">Cuong Phung</span>
  </div>

  <div class="layout-topbar-menu">
    <!-- Search Bar -->
    <div class="search-container">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Search products..."
                class="search-input"
                [(ngModel)]="searchQuery" />
            </span>
    </div>

    <!-- User Menu -->
    <div class="user-menu">
      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-shopping-cart"
        class="p-button-text p-button-rounded"
      >
      </button>

      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-heart"
        class="p-button-text p-button-rounded"
      >
      </button>

      <p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body"></p-menu>
      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-user"
        class="p-button-text p-button-rounded"
        (click)="toggleUserMenu($event)">
      </button>

      <button
        pButton
        type="button"
        [size]="'large'"
        icon="pi pi-sign-in"
        pTooltip="Sign in"
        class="p-button-text p-button-rounded"
      >
      </button>
    </div>
  </div>
</header>
